body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #EEEEEE;
}
a:hover {
  background-color: #111 !important;
}

@media (max-width: 800px) {
  #navbar {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  #editor-result {
    flex-direction: column !important;
  }
  #result {
    border-left: 0 !important;
    border-top: 5px solid #000;
  }
}
