body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #212121;
  overflow: hidden;
}
a:hover {
  color: #777 !important;
}

@media (max-width: 800px) {
  #navbar {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  #TextEditorScene-wrap {
    flex-direction: column !important;
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.98);
  }
}

/*
  http://tobiasahlin.com/spinkit/ <3 <3 <3
*/
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes sk-flow {
  0%, 80%, 100% {
    background-color: #CCC;
  } 40% {
    background-color: rgba(154, 157, 160, 1);
  }
}
